{% extends 'base.html' %}
{% load static %}

{% block title %}
About Me
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/aboutme.css' %}">
{% endblock extrahead %}

{% block content %}
<div class="aboutme-container">
    <h2>About Me !</h2>
    <p>As a Software Engineer with significant experience in Artificial Intelligence, I specialize in designing and optimizing intelligent solutions that drive innovation. My work on "Detection of Agricultural Anomalies Using AI Models" for my final year project has strengthened my expertise in data modeling and AI-driven problem-solving.
        After my internship experience, I decided to transition fully into the field of AI, dedicating myself to continuous learning and gaining hands-on experience in advanced AI techniques. I am specializing in AI, particularly in Deep Learning, Generative AI (GenAI), and Natural Language Processing (NLP). Additionally, I am passionate about back-end development, particularly using Django Rest Framework (DRF) and FastAPI in Python. Eager to take on new challenges, I am ready to contribute to impactful projects and explore exciting opportunities in AI and back-end development.</p>
</div>
<div class="aboutme-container">
    <div class="golden-rule-card">
        <h2>Golden Rule 🚀</h2>
        <blockquote>
            "The day you stop learning is the day you stop growing. Success is not about reaching a destination, but about the journey of constant improvement and discovery."
        </blockquote>
    </div>
   
       
    
<style>
    .cv-download-button {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        color: white;
        background-color: #d15272; /* Blue color */
        padding: 15px 30px;
        border-radius: 8px;
        text-decoration: none;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, transform 0.2s;
    }

    .cv-download-button:hover {
        background-color: #d15272; /* Darker blue on hover */
        transform: scale(1.05);
    }
</style>
</div>
{% endblock content %}